
.customNav{
    position:fixed;
    width: 100%;
    background-color: #ffffff !important;
    z-index: 10;


}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
.navbar-brand img{
    padding-right: 15px; 
    width: 65px;
}

.nav-item{
    margin: 0px 15px;
}

.btn{
    display:flex;
    width: 223px;
    height: 46px;
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 2px 2px #404040;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.purple{
    display:flex;
    align-items: center;
    height: 700px;
    background-color: rgb( 202,104,236, 49%);
    padding-left: 10%;

}
.download img{
    height: 50px;
}
.dark-grey{ 
    display:flex;
    align-items: center;
    padding-left: 10%;
    background-color: #333333;
    height: 700px;
    color: #ffffff;
}
.orange{
    display:flex;
    align-items: center;
    padding-left: 10%;
    background-color: rgb(242,153,74, 80%);
    height: 700px;
}
.white{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    background-color: #ffffff;
    height: 700px;
}
.light-blue{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(47,128,237, 49%);
    height: 700px;
}

